<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <img src="data:image/png;base64,{{ url }}">
    </div>
</body>
</html> -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Лаб. 5</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>
    <div class="wrapper">
        <div class="wrapper__header">
            <p class="title">Лаб. 5. Вариант 25</p>
            <form action="" method="post">
                <button type="submit" class="button">Сменить цвет</button>
            </form>
        </div>
        <canvas id="canvas" width="900px;" height="700px;"></canvas>
    </div>

    <script src="/static/js/index.js"></script>
</body>

</html>