body {
    background-color: #eee;
}

.wrapper {
    display: block;
    width: 900px;
    height: 700px;
    margin: 0 auto;
}

.wrapper__header {
    padding: 15px 0;
}

.button {
    display: block;
    margin: 0 auto;
}

.title {
    font-size: 20px;
    text-align: center;
}

#canvas {
    background-color: #fff;
}